/* * Setting the default design */
/* * Body is a grid to align the header, main and footer containers */
body {
  background-color: #001845;
  background-image: url(assets/eye.svg);
  background-repeat: no-repeat;
  background-size: 1000px;
  background-position: calc(50% - 600px) top;
  color: #979dac;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

h1 {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  color: transparent;
  background-image: repeating-linear-gradient(
    to right,
    #979dac,
    #979dac90 10%,
    #979dac 20%
  );
  background-clip: text;
}

/* * Sets design of the anchor elements */
a {
  text-decoration: none;
  color: #979dac;
  padding: 10px;
  font-size: large;
}

nav {
  align-content: center;
}

/* * Makes the header, main and footer containers grids */
header,
main,
footer {
  display: grid;
  gap: 0 30px;
  padding: 0 20px;
}

header {
  grid-template-columns:
    1fr minmax(auto, 300px) minmax(0, 400px) minmax(auto, 500px)
    1fr;
  align-self: flex-start;
}

main {
  grid-template-columns: 1fr minmax(auto, 200px) minmax(0, 500px) auto 1fr;
  align-self: flex-start;
}

footer {
  grid-template-columns:
    1fr minmax(auto, 400px) minmax(auto, 400px) minmax(auto, 400px)
    1fr;
  align-self: flex-start;
}

/* * Changes bcaground colour of the header and footer sections */
header,
footer {
  background-color: #001233;
}

/* * Positions the h1 and nav containers in the header */
header a {
  grid-column: 2;
  text-wrap: nowrap;
}

header nav {
  justify-self: flex-end;
  display: flex;
  grid-column: 4;
  flex-wrap: nowrap;
  align-items: center;
}

/* * Adds lines between the anchor elements inside the nav section */
header nav a {
  border-style: none solid none none;
  border-image: linear-gradient(
      to bottom,
      #00000000 0%,
      #979dac 50%,
      #00000000 100%
    )
    1;
}

#about {
  border-left-style: solid;
}

main {
  margin: 100px 20px 20px 20px;
  row-gap: 30px;
}

/* * Positions the introduction box in the main section*/
main section {
  padding: 20px;
  display: flex;
  flex-direction: column;
  grid-column: 2 / span 2;
  border-style: solid;
  border-radius: 10px;
  box-shadow: 5px 5px black;
  background-color: #001233;
}

h2,
h3,
p {
  margin: 0;
}

h2 {
  font-size: 70px;
  color: #2388ec;
  margin: 5px 0;
}

h3 {
  font-size: 50px;
}

/* * Positions the footer section at the bottom of the webpage */
footer {
  justify-content: center;
}

/* * Positions the links in the footer section */
#footer-links {
  flex-grow: 1;
  display: flex;
  grid-column: 3;
  justify-self: center;
}

#image-source {
  grid-column: 4;
  justify-self: flex-end;
  text-wrap: nowrap;
}

/* * Positions the image in the main container */
img {
  max-width: 300px;
  margin: 0 20px;
  justify-self: flex-end;
}

/* * Sets the colour of the footer links */
svg {
  fill: #979dac;
}

/* * Media Queries */
/* * Snaps background image to left of the page */
@media (max-width: 1380px) {
  body {
    background-position: calc(80px - 500px) top;
  }
}

/* * Stacks image below the introduction */
@media (max-width: 1000px) {
  img {
    grid-column: 2 / span 3;
    justify-self: center;
  }
  main section {
    grid-column: 2 / span 3;
  }
}

/* * Stacks header links below h1 */
@media (max-width: 758px) {
  header a,
  header nav {
    grid-column: 2 / span 3;
    justify-self: center;
  }
}
