/* * Setting the default design */
/* * Body is a grid to align the header, main and footer containers */
body {
  background-color: #001845;
  color: #979DAC;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

h1 {
  margin: 0;
}

/* * Sets design of the anchor elements */
a {
  text-decoration: none;
  color: #979DAC;
  padding: 10px;
  font-size: large;
}

nav {
  align-content: center;
}

/* * Makes the header, main and footer containers grids */
header, main, footer {
  display: grid;
  grid-template-columns: 1fr minmax(auto, 200px) minmax(0, 500px) minmax(auto, 500px) 1fr;
  gap: 0 30px;
  padding: 0 20px;
}

main {
  grid-template-columns: 1fr minmax(auto, 200px) minmax(0, 500px) auto 1fr;
  align-self: flex-start;
}

/* * Changes bcaground colour of the header and footer sections */
header, footer {
  background-color: #001233;
}

/* * Positions the h1 and nav containers in the header */
header a {
  grid-column: 2;
  text-wrap: nowrap;
}

header nav {
  justify-self: flex-end;
  display: flex;
  grid-column: 4;
  flex-wrap: nowrap;
  align-items: center;
}

/* * Adds lines between the anchor elements inside the nav section */
header nav a {
  border-style: none solid none none;
  border-image: linear-gradient(to bottom, #00000000 0%, #979DAC 50%, #00000000 100%) 1;
}

#about {
  border-left-style: solid;
}

main {
  margin: 100px 20px 20px 20px;
}

/* * Positions the introduction box in the main section*/
main div {
  display: flex;
  flex-direction: column;
  grid-column: 2 / span 2;
  border-style: solid;
  border-radius: 10px;
  box-shadow: 5px 5px black;
  background-color: #001233;
}

h2, h3 {
  margin: 0;
}

h2 {
  font-size: xx-large;
}

h3 {
  font-size: x-large;
}

/* * Positions the footer section at the bottom of the webpage */
footer {
  justify-content: center;
}

/* * Positions the links in the footer section */
#footer-links {
  display: flex;
  grid-column: 2 / span 3;
  justify-self: center;
}

/* * Positions the image in the main container */
img {
  max-width: 300px;
  margin: 0 20px;
  justify-self: flex-end;
}

/* * Sets the colour of the footer links */
svg {
  fill: #979DAC;
}

/* * Changes the webpage layout if the screen width is smaller than 724px */
@media (max-width: 724px) {
  header a, header nav {
    grid-column: 2 / span 3;
    justify-self: center;
  }
}